In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from lxml import html
import string
from datetime import datetime

## Check if Connection Works

In [2]:
url = 'https://www.eia.gov/dnav/ng/hist/n3010us2A.htm'  # Replace with the URL of the website you want to check

try:
    # Make an HTTP request to the website
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        print(f"Connection successful to {url}")

        # Use Beautiful Soup to parse the HTML content
        soup = BeautifulSoup(response.text, 'lxml')

        # Now you can work with the BeautifulSoup object (soup) to extract information
        # For example, print the title of the webpage
        print("Webpage Title:", soup.title.text)
    else:
        print(f"Failed to connect to {url}. Status code: {response.status_code}")

except Exception as e:
    print(f"An error occurred: {e}")

Connection successful to https://www.eia.gov/dnav/ng/hist/n3010us2A.htm
Webpage Title: U.S. Natural Gas Residential Consumption  (Million Cubic Feet)

## Find Table of Information

In [3]:
table = soup.find_all('td', class_=['B3', 'B4'])

In [4]:
type(table)

bs4.element.ResultSet

In [5]:
table

[<td class="B4">  1930's</td>,
 <td class="B3">295,700</td>,
 <td class="B3">294,406</td>,
 <td class="B3">298,520</td>,
 <td class="B3">283,197</td>,
 <td class="B3">288,236</td>,
 <td class="B3">313,498</td>,
 <td class="B3">343,346</td>,
 <td class="B3">371,844</td>,
 <td class="B3">367,772</td>,
 <td class="B3">391,153</td>,
 <td class="B4">  1940's</td>,
 <td class="B3">443,646</td>,
 <td class="B3">442,067</td>,
 <td class="B3">498,537</td>,
 <td class="B3">529,444</td>,
 <td class="B3">562,183</td>,
 <td class="B3">607,400</td>,
 <td class="B3">660,820</td>,
 <td class="B3">802,150</td>,
 <td class="B3">896,348</td>,
 <td class="B3">992,544</td>,
 <td class="B4">  1950's</td>,
 <td class="B3">1,198,369</td>,
 <td class="B3">1,474,725</td>,
 <td class="B3">1,621,966</td>,
 <td class="B3">1,685,503</td>,
 <td class="B3">1,894,248</td>,
 <td class="B3">2,123,952</td>,
 <td class="B3">2,327,564</td>,
 <td class="B3">2,500,269</td>,
 <td class="B3">2,714,251</td>,
 <td class="B3">2,912,601</td>,
 <td class="B4">  1960's</td>,
 <td class="B3">3,103,167</td>,
 <td class="B3">3,248,578</td>,
 <td class="B3">3,478,563</td>,
 <td class="B3">3,589,021</td>,
 <td class="B3">3,787,292</td>,
 <td class="B3">3,902,802</td>,
 <td class="B3">4,138,259</td>,
 <td class="B3">4,313,304</td>,
 <td class="B3">4,450,354</td>,
 <td class="B3">4,728,281</td>,
 <td class="B4">  1970's</td>,
 <td class="B3">4,837,432</td>,
 <td class="B3">4,971,690</td>,
 <td class="B3">5,125,982</td>,
 <td class="B3">4,879,387</td>,
 <td class="B3">4,786,128</td>,
 <td class="B3">4,924,124</td>,
 <td class="B3">5,051,360</td>,
 <td class="B3">4,821,485</td>,
 <td class="B3">4,903,006</td>,
 <td class="B3">4,965,365</td>,
 <td class="B4">  1980's</td>,
 <td class="B3">4,752,082</td>,
 <td class="B3">4,546,450</td>,
 <td class="B3">4,633,035</td>,
 <td class="B3">4,380,599</td>,
 <td class="B3">4,555,465</td>,
 <td class="B3">4,433,377</td>,
 <td class="B3">4,313,969</td>,
 <td class="B3">4,314,833</td>,
 <td class="B3">4,630,330</td>,
 <td class="B3">4,780,638</td>,
 <td class="B4">  1990's</td>,
 <td class="B3">4,391,324</td>,
 <td class="B3">4,555,659</td>,
 <td class="B3">4,690,065</td>,
 <td class="B3">4,956,445</td>,
 <td class="B3">4,847,702</td>,
 <td class="B3">4,850,318</td>,
 <td class="B3">5,241,414</td>,
 <td class="B3">4,983,772</td>,
 <td class="B3">4,520,276</td>,
 <td class="B3">4,725,672</td>,
 <td class="B4">  2000's</td>,
 <td class="B3">4,996,179</td>,
 <td class="B3">4,771,340</td>,
 <td class="B3">4,888,818</td>,
 <td class="B3">5,079,351</td>,
 <td class="B3">4,868,797</td>,
 <td class="B3">4,826,775</td>,
 <td class="B3">4,368,466</td>,
 <td class="B3">4,722,358</td>,
 <td class="B3">4,892,277</td>,
 <td class="B3">4,778,907</td>,
 <td class="B4">  2010's</td>,
 <td class="B3">4,782,412</td>,
 <td class="B3">4,713,777</td>,
 <td class="B3">4,149,519</td>,
 <td class="B3">4,897,372</td>,
 <td class="B3">5,087,471</td>,
 <td class="B3">4,612,888</td>,
 <td class="B3">4,346,588</td>,
 <td class="B3">4,413,324</td>,
 <td class="B3">4,997,554</td>,
 <td class="B3">5,018,519</td>,
 <td class="B4">  2020's</td>,
 <td class="B3">4,674,456</td>,
 <td class="B3">4,716,658</td>,
 <td class="B3">4,964,165</td>,
 <td class="B3"></td>,
 <td class="B3"></td>,
 <td class="B3"></td>,
 <td class="B3"></td>,
 <td class="B3"></td>,
 <td class="B3"></td>,
 <td class="B3"></td>]

## Convert List of Values into DataFrame

In [6]:
#Convert BS object to strings
table_list = [str(tag) for tag in table]

# Convert td elements to string
html_content = ''.join(table_list)

# Parse the HTML content
tree = html.fromstring(html_content)

# Extract all td elements
data_list = tree.xpath("//td/text()")

In [7]:
#remove unseen characters
def remove_unseen_char(val):
    return ''.join(char for char in val if char in string.printable)
cleaned_data_list = [remove_unseen_char(elem) for elem in data_list]

In [8]:
#create lists of years and values for df 
years = []
values = []
for element in cleaned_data_list:
    if "'" in element:
        years.append(int(element[:4]))
        #values.append()
    else:
        years.append(years[-1]+1)
        values.append(element)
years = list(set(years))[:-1]

In [9]:
df = pd.DataFrame({'Years': years, 'Consumption': values})

## Convert df for Analysis

In [10]:
#convert columns into datetime and int objects
df['Years'] = df['Years'].map(lambda x: datetime(x, 12, 31))
df['Consumption'] = df['Consumption'].str.replace(',', '').astype(int)

In [13]:
df.to_csv('Residential_Consumption_data.csv')